.wy-side-nav-search {
    background: #C0C0C0;
}

.wy-nav-side {
    font-weight: 1000;
    background: #041E42;
}

.toctree-l1 {
    font-size: 22px;
}

.code {
    color: #0000FF;
    background-color: #D3D3D3;
}
